.env
.env.*
__pycache__/
*.pyc
.vscode/
.idea/
deploy/env
model-cache/
.qdrant/
*.pt
*.onnx
*.jpg
*.png
index.db
metadata.sqlite
app.db
*.sqlite
*.db
derived/
backend/derived/
backend/derived/**
*.npy
.coverage
coverage.xml
backend/.coverage
backend/coverage.xml
/.pytest_cache/
/.venv/
/venv/
/ENV/
/env/
/env.bak/
/venv.bak/
**/__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.log
docs/_build/
*.cover
*.py,cover
htmlcov/
**/.ipynb_checkpoints/
Thumbs.db
.DS_Store
models/
assets/
**/embeddings/
**/face_embeddings/
**/person_embeddings/
**/derived/
**/derived/**
